NODE_ENV=development
MONGODB_URI=mongodb+srv://H3llz:H3llBl4z307@bitesdb.ypbciww.mongodb.net/?appName=BitesDB
BACKEND_PORT=5000
JWT_SECRET=0620
JWT_EXPIRE=7d
CORS_ORIGIN=http://localhost:5173
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:5000/api