@import "tailwindcss";

@theme {
  --color-primary: #581845;
  --color-secondary: #35524a;
  --color-accent: #e6af2e;
  --color-textMain: #4a4a4a;
  --color-textSecondary: #7d7d7d;
  --color-background: #faf3e0;
  --color-backgroundSecondary: #f4e2aa;
  --color-iconFill: #756a44;
  --color-iconFillSecondary: #e8d38d;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
