@import "tailwindcss";

@theme {
  --color-primary: "#581845";
  --color-secondary: "#35524A";
  --color-accent: "#E6AF2E";
  --color-textMain: "#4A4A4A";
  --color-textSecondary: "#7D7D7D";
  --color-background: "#FAF3E0";
  --color-backgroundSecondary: "#F4E2AA";
  --color-iconFill: "#756A44";
  --color-iconFillSecondary: "#E8D38D";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
